<div class="container" data-controller="dashboard">
  <div class="card">
    <div class="card-header">
      <h1>Estado general restaurantes</h1>
    </div>
    <div class="card-body" id="restaurants-statuses">
      <%= render 'restaurants_statuses_table', restaurants: @restaurants %>
    </div>
  </div>
</div>