<div class="container">
  <div class="card">
    <div class="card-header">
      <h5>Nuevo restaurant</h5>
    </div>
    <div class="card-body">
      <%= render "form", restaurant: @restaurant %>
    </div>
  </div>
</div>
<br>

<div>
  <%= link_to "Inicio", home_index_path, class: 'btn btn-primary' %>
</div>
